@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Quicksand';
  background-image: "./acebook.png";
}

#form input {
  display: block; /* Make inputs take up full width and stack vertically */
  width: 80%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px auto 10px auto;
}

  #form #aboutMe {
    height: 100px;
    width: 80%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0px auto 0px auto;
  }

.navbar {
    background-color: black;
    padding: 25px;
    display: flex;
    font-weight: bold;
    justify-content: left;
  }

.links li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    margin-top: 25px;
  }
  
  .links a {
    color: white;
    text-decoration: none;
  }

#choosePic {
  margin: auto;
  margin-bottom: 100px;
  
}

#selectList {
  margin-bottom: 15px;;
}

#like-button.detailsSubmit {
  width: 82%;
}

.error {
  color: red;
  text-align: center;
}