@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Quicksand';
}

.img {
  position: absolute;
}

.navbar {
  background-color: rgba(11, 115, 227, 0.702);
  padding: 40px;
  display: flex;
  font-weight: bold;
  justify-content: right;
}

.links li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

.links a {
  color: white;
  text-decoration: none;
}

#form {
  margin-top: 10px;
  width: 80%;
  padding: 20px;
}

#form input {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

#form input#aboutMe {
  height: 100px;
  width: 80%;
}
